#chat-screen {
    background-color: #ABC1D1;
    height: 1100vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #ABC1D1;
    box-sizing: border-box;
}

#chat-screen .alt-header {
    top: 20px;
    z-index: 1;
}

#chat-screen .status-bar {
    z-index: 2;
}

.main-chat {
    margin-top: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp {
    color: white;
    background-color: #92a4b2;
    padding: 7px;
    border-radius: 40px;
    font-size: 12px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
}

.message-row img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-right: 10px;
}

.message__author {
    display: block;
    margin-bottom: 8px;
}  

.message__info {
    display: flex;
    align-items: flex-end;
}

.message__bubble {
    font-size: 17px;
    background-color: white;
    padding: 8px 10px;
    border-radius: 14px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}

.message__author, 
.message__time {
    opacity: 0.8;
    font-size: 12px;
}