#no-mobile {
    position:absolute;
    z-index: 99;
    height: 100vh;
    background-color: var(--yellow);
    width: 100vw;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

/* 645보다 작다면 아래 크다면 위*/
@media screen and (max-width:645px) {
    #no-mobile {
        display: none;
    }
}